*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: #f5ebeb;
}
.container{
    height: 100vh;
    width: 100%;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-box{
    height: 400px;
    max-width: 660px;
    margin: 55px 0;
    padding: 0 30px;
    border: 2px solid red;
}
#title{
    font-size: 24px;
    font-weight: 600;
    color: #265df2;
    margin-bottom: 20px;
}
#text{
    height: 100%;
    width: 100%;
    padding: 30px;
    font-size: 15px;
    outline: none;
    border: 2px solid #265df2 ;
    border-radius: 8px;
    background: #e7edfe;
    text-align: justify;
}
#text::-webkit-scrollbar{
    display: none;
}
#copy{
    position: relative;
    height: 40px;
    width: 140px;
    color: white;
    border: none;
    outline: none;
    background-color: #265df2;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    margin: 8px 0;
    transition: all 0.4s;
}
#copy:hover{
    background: #1b367e;
}
.text-box button::before{
    content: 'copied';
    position: absolute;
    top:5px;
    left: 170px;
    background-color: black;
    padding: 7px 14px;
    border-radius: 5px;
    font-size: 18px;
    display: none;
}
.text-box button::after{
    content: '';
    position: absolute;
    top:17px;
    left: 165px;
    background-color: black;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    display: none;
    
}
.text-box.active button::after,
.text-box.active button::before{
    display: block;
}